<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Amenities
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @room do |f| %>
            <div class="row form-group">
              <div class="col-md-4">
                <%= f.check_box :is_toys %> Toys
              </div>
              <div class="col-md-4">
                <%= f.check_box :is_treats %> Treats
              </div>
              <div class="col-md-4">
                <%= f.check_box :is_food %> Food
              </div>
              <div class="col-md-4">
                <%= f.check_box :is_garden %> Garden
              </div>
              <div class="col-md-4">
                <%= f.check_box :is_toys %> Exercise
              </div>
            </div>
            <br/><br/>
            <div class="text-center">
              <%= f.submit "Save", class: "btn btn-form" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

</div>
